<div class="container-profile mt-3">
  <div class="row">
    <div class="avatar col-12 col-md-4">
      <img class="img-responsive center-block rounded-circle border" {{#if userProfile.image}}
        src="{{userProfile.image}}" {{else}} src="http://www.freeiconspng.com/uploads/profile-icon-9.png" {{/if}}
        style="width: 200px; height:200px; margin-bottom: 25px;">
    </div>
    <div class="mt-3 profile-info col-12 col-md-8">
      <h3>{{userProfile.name}}</h3>
      <h6>{{userProfile.email}}</h6>
      <h6><strong>{{ commentNum }}</strong> 已評論餐廳</h6>
      {{#ifCond loginUserId userProfile.id}}
      <a href='/users/{{loginUserId}}/edit'>
        <button type="button" class="btn btn-info btn-sm mt-5">Edit Profile</button>
      </a>
      {{/ifCond}}
    </div>
  </div>
</div>
</div>

<div class="card">
  <div class="card-header">
    {{ commentNum }} 已評論餐廳
  </div>


  {{#each restaurants}}
  <div class="container d-flex">
    <div class="card text-center m-1" style="width: 10rem;">
      <a href="/restaurants/{{this.id}}">
        <img {{#if this.image}} src="{{this.image}}" {{else}}
          src="https://cdn-icons-png.flaticon.com/512/126/126122.png" {{/if}} class="m-1 img-thumbnail"
          alt="{{this.name}}" style="width: 100px; height: 100px">
      </a>
      <div class="card-body">
        <p class="card-text">{{this.name}}</p>
      </div>
    </div>
    {{/each}}
  </div>
</div>